.dashboard-container {
  display: flex;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 260px;
  background-color: #1e1e2f;
  color: #fff;
  padding: 60px 1rem;
  box-shadow: 1px 0 2px rgb(0 0 0/55%);
  z-index: 2;

  .sidebar-title {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    color: #ffffffcc;
    margin-bottom: 5rem;
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    .sidebar-button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
      padding: 8px 16px;
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 200ms ease;

      &:hover {
        background-color: rgb(255 255 255 / 10%);
      }

      .sidebar-button-icon {
      }
      .sidebar-button-title {
      }
    }
  }
}

.main-content {
  display: flex;
  width: 100%;
  padding: 60px;
  background-color: #2a2a41;
  .main-content-header {
    .main-section-header-title {
    }
  }
  .main-content-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 100px;
    .main-content-body-header-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      // height: 80px;

      .main-content-body-header {
        display: flex;
        align-items: center;
        gap: 30px;
        height: 100%;

        .main-content-body-header-title {
          font-size: 30px;
          font-weight: 600;
        }
        .main-content-body-header-add-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          background-color: rgb(255 255 255 / 10%);
          border-radius: 20px;
          padding: 6px 16px;
          cursor: pointer;
          transition: background-color 200ms ease;

          &:hover {
            background-color: rgb(255 255 255 / 15%);
          }

          mat-icon {
            font-size: 18px;
            height: auto;
            width: auto;
          }

          .main-content-body-header-add-btn-text {
            padding-right: 4px;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
    .main-content-body-content-wrapper {
      display: flex;
      overflow: auto;
      
      app-table {
        width: 100%;
        // height: 300px;
      }
    }
  }
}
