.sidenav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 8px;
  height: 100%;
  width: 270px;
  background-color: rgb(67, 147, 236);

  .category-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    padding: 6px 14px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 200ms ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
