<div class="form-wrapper" (keyup)="onEnterPress($event)">
  <div class="form">
    <!-- <div class="form-header">
      <span class="title">SIGN IN</span>
      <span class="title">TO YOUR ACCOUNT</span>
    </div> -->
    <div class="form-body">
      @for (field of form.fields; track $index) {
      <div class="form-group">
        <!-- <label for="username">Username</label> -->
        <input type={{field.type}} [(ngModel)]="field.value" required={{field.isRequired}} class={{field.class}}
          placeholder={{field.displayName}} />
      </div>
      }
      @for (action of form.actions; track $index) {
      <div class="form-action-wrapper">
        <div class="form-action">
          @if (action.message) {
          <span [class]="action.messageClass || 'form-action-message'">{{action.message}}</span>
          }
          <button class={{action.class}} (click)="action.onClick()">{{action.displayName}}</button>
        </div>
      </div>
      }
    </div>
  </div>
</div>