.top-toolbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  gap: 8px;

  .top-toolbar-left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 140px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: rgb(255 255 255 / 10%);

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      height: 100%;

      .app-logo {
        font-size: 2rem;
        font-weight: 100;
        font-variation-settings: "wght" 100 "GRAD" 0;
      }

      .app-name {
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
  }

  .top-toolbar-middle-section {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 16px;
    border-radius: 8px;
    background-color: rgb(255 255 255 / 10%);
  }

  .top-toolbar-right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 200px;
    border-radius: 8px;
    background-color: rgb(255 255 255 / 10%);
    .profile {
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      gap: 8px;
      cursor: pointer;
      .username {
      }
    }
  }
}
