<div class="top-toolbar-wrapper">
  <div class="top-toolbar-left-section">
    <div class="logo-container">
      <span class="material-symbols-outlined app-logo">task</span>
      <span class="app-name">Mindr</span>
    </div>
  </div>

  <div class="top-toolbar-middle-section"></div>

  <div class="top-toolbar-right-section">
    <div [matMenuTriggerFor]="profileMenu" class="profile">
      <span class="username">{{username}}</span>
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>

  <!-- Dropdown Menu -->
  <mat-menu #profileMenu="matMenu">
    <!-- <button mat-menu-item (click)="viewProfile()">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button> -->
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div>