<div class="top-toolbar-wrapper">
  <div class="top-toolbar-left-section">
    <div class="logo-container">
      <mat-icon>add_task</mat-icon>
      <h1 class="app-name">My To-Do List</h1>
      <h1 class="welcome-message">Welcome, {{ username }}. Time to pretend we’re organized! </h1>
    </div>
  </div>

  <div class="top-toolbar-right-section" [matMenuTriggerFor]="profileMenu" class="logout-container">
    <mat-icon>account_circle</mat-icon>
  </div>

  <!-- Dropdown Menu -->
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="viewProfile()">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div>
