<div class="login-form-wrapper">
  <form class="login-form" (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="login-form-header">
      <span class="login-title">SIGN IN</span>
      <span class="login-title">TO YOUR ACCOUNT</span>
    </div>
    <div class="login-form-body">
      <div class="form-group">
        <!-- <label for="username">Username</label> -->
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="userForm.username"
          required
          class="form-control"
          placeholder="Username"
        />
      </div>

      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="userForm.password"
          required
          class="form-control"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="login-button">Sign in</button>
      <div class="login-form-register-section">
        <span>Are you a new user? Register here</span>
        <button class="register-button">Register</button>
      </div>
    </div>
  </form>
</div>
