
<div class="user-table-wrapper">
  <button class ="add-user-btn" (click)="addNewUser()">Add New User</button>
  <h2>User List</h2>
  <table class="user-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (user of users; track user.userId){
    <tr>
      <td>{{ user.userId }}</td>
      <td>{{ user.firstname }} {{ user.lastname }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button class="edit-btn" (click)="editUser(user)">Edit</button>
      <button class="delete-btn" (click)="deleteUser(user.userId!)">Delete</button>

      </td>
    </tr>
      }@empty{
    <tr>
      <td colspan="4" class="empty">No users found.</td>
    </tr>
      }
    </tbody>
  </table>
  @if (showModal) {
    <div class="modal">
      <div class="modal-content">
        <app-user-form
          [user]="selectedUser || { userId: 0, firstname: '', lastname: '', username: '', email: '', role: '', password: '' }"
          [isEditMode]="isEditMode"
          (onSave)="onUserSaved()">
        </app-user-form>
        <button class="close-btn"  (click)="closeModal()"
        >
          <span class="material-icons">cancel</span>
        </button>
      </div>
    </div>
  }
</div>
