// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

/* You can add global styles to this file, and also import other style files */

html {
  //height: 100vh;
  //width: 100vw;
}

body {
  display: flex;
  margin: 0;
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

app-root {
  display: flex;
  height: 100%;
  width: 100%;
}

app-login {
  display: flex;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
  line-height: normal;
}

.fade-in {
  opacity: 0;
  animation-name: fade-in-anim;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.cdk-overlay-backdrop {
  backdrop-filter: blur(2px);
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter.ttf");
}

@font-face {
  font-family: "Material Symbols Outlined";
  src: url("assets/icons/material-symbols-outlined.woff2") format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fade-in-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
